
<div>
<div>
  <div class="container text-center">
    <h1>Contacts of <%= @user %></h1>

    <div class="d-flex justify-content-around align-items-center">
      <div class="text-justify">
        <h4>Import File</h4>
        <hr>
      <%= form_with( model: Attached, url: attacheds_path) do |f| %>
        <%= f.file_field :attached_csv, class: "btn btn-sm btn-warning" %>
        <div id="text"></div>
        <%= f.submit "Import", class: "btn btn-sm btn-success" %>
      <% end %>
      </div>
    </div>
    <hr>
  </div>


</div>
