<div>
  <div>
    <div class="container text-center">
    <h1>List attached files</h1>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">File</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @attacheds.each do | attch |%>
          <tr>
            <th scope="row"><%= attch.id %></th>
            <td><%= attch.name %></td>
            <td><%= attch.status %></td>
            <td><%=link_to "import", attacheds_import_path(attch), method: :post %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
